body {
    background-color: #001f3f;
    color: #96f9f4;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    margin: 0;
    padding: 0;
}
 
  .felso {
    height: 80px;
    background-color: #001f3f; 
    padding: 1%;
    font-size: small;
  }
  
 
  .kozepso {
    height: calc(100vh - 200px); 
    background-image: url("buborek.webp");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  
  /* Alsó sáv */
  .also {
    height: 80px;
    background-color: #001f3f; 
    font-size: 25px;
}
  
.kozepso img {
    height: 510px;
}
